body {
  font-family: Lato, sans-serif;
  margin: 0;
}

header {
  background-image: url("../img/blog_header_bg.jpg");
  background-size: cover;
  background-position: center center;
  height: 28em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

nav {
  background: white;
  margin: .5em 0;
  padding: 1.5em;
}

nav a {
  text-decoration: none;
  color: #69B;
  padding: 3em;
  font-size: 1.2em;
  letter-spacing: .2em;
}

h1 {
  color: white;
  font-size: 3em;
  margin: 5em 0;
  letter-spacing: .5em;
  font-weight: 900;
}

section {
  margin: auto;
  width: 80%;
}

h2, h3, p, ul {
  color: #246;
  letter-spacing: .1em;
  font-weight: 300;
  margin: 0;
}

h2, h3 {
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5em;
  padding: 3em 0 0 0;
}

h2 {
  font-size: 1.9em;
  padding: .7em 0;
}

img {
  width: 100%;
  padding: 2em 0;
}

p, ul{
  font-size: 1.2em;
  line-height: 1.7em;
}

p.about {
  padding: 1em 0;
}

img.about {
  width: 45%;
}

ul {
  padding: 1em;
  font-size: 1.4em;
}

li a{
  text-decoration: none;
  color: #69B;
  font-weight: 700;
}

footer{
  background-color: #CFF9FF;
  text-align: center;
  padding: ;
}

footer p {
  border-top: .1em solid #246;
  padding: 1.2em;
  color: #69B;
}

div {
  padding: 3em;
}

#one, #two, #three{
  text-decoration: none;
  color: #246;
  font-size: 3em;
  padding: .7em;
}




